html {
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #23272A;
  justify-content: center;
}

header .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

header .inner .logo {
  justify-content: start;
  height: 100%;
}

header .inner .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header .inner>nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

header .inner nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 2px;
}

header .inner nav a:hover {
  color: #7289DA;
}

body {
  margin: 0;
  background-image: url(./assets/backgroundImage.jpg);
  background-size: cover;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;

}

.main-container {
  padding: 50px 0;
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/* Movies engine */
#searchInput {
  width: 150px;
  height: 50px;
  border: 1px solid #23272A;
  border-radius: 10px;
  background-color: #cbcbcb;
  color: rgb(255, 252, 252);
}


/* CARDS GRID STYLE*/

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
}

.card-list .card {
  position: relative;
  width: 20%;
  height: 100%;
  margin: 5px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(0);
}

.card-back {
  transform: rotateY(180deg);
  background-color: #23272A;
  border-radius: 10px;
  color: #fff;
}

.card-list .card .card-image {
  width: 100%;
  height: 100%;
}

.card-list .card .card-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card .card-description {
  margin-left: 6px;
  width: 100%;
  height: 100%;
}

