html {
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background-color: #23272A;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #23272A;
  justify-content: center;
}

header .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

header .inner .logo {
  justify-content: start;
  height: 100%;
}

header .inner .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header .inner>nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

header .inner nav a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 2px;
}

header .inner nav a:hover {
  color: #7289DA;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url(https://images5.alphacoders.com/320/320927.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}